/*
** Orerrided and specific CSS properties used within application popup components
** All overrided CSS properties have been derived from base 'modena.css' Java style sheet
** @author Christopher
*/

.root {
    -fx-background-image: none;
}

#titleLabel {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(96, 96, 96);
}

#txtLabel {
    -fx-text-alignment: center;
}

.combo-box {
    -fx-background-radius: 10px 10px 0px 0px;
    -fx-border-radius: 10px 10px 0px 0px;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.list-view {
    -fx-background-color: transparent;
    -fx-border-color: rgb(196, 196, 196);
}

.list-cell:filled:focused {
    -fx-background-color: -fx-background;
}